/* CSS VARIABLES */
:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #b0330d;
    --body-font: Arial, Helvetica, sans-serif;
    --heading-font: Times New Roman,Georgia, serif;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* LAYOUT WIDTH */
header, main, footer {
    width: 840px;
    margin: 0 auto;
}

/* HEADINGS */
h1, h2 {
    font-family: var(--heading-font);
    background: #66866be1;
    background: #66866be1;
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}

/* GENERAL SPACING */
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

/* HEADER */
header {
    background-color: white;
    color: var(--primary-color);
}

/* NAV LINKS */
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

/* HERO SECTION */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* HERO TITLE */
.h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
    opacity: 0.7px;
    background-color: var(--accent2-color);
    color: #16c06bef;
}

/* HERO ARTICLE */
.hero article {  
    position: absolute;
    bottom: 10px;
    left: 20px;
    background: #66866be1;
    padding: 7px;
    width: 775px;
}

/* HERO ARTICLE IMAGE */
.hero article img {
    float: right;
    width: 180px;
    margin: 0 10px 10px; 
}

/* FOOTER SOCIAL MEDIA */
.socialmedia a {
    text-decoration: none;
}